SUTI_2016_Pasientreiser_Oppgjor_strict.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:suti="http://www.suti.se/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xs:complexType name="Adresse">
		<xs:sequence>
			<xs:element name="manualDescriptionAddress" type="Merknad" minOccurs="0"/>
			<xs:element name="geographicLocation" type="Posisjon" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="street" type="xs:string" use="optional"/>
		<xs:attribute name="streetNo" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="streetNoLetter" type="xs:string" use="optional"/>
		<xs:attribute name="postalNo" type="xs:string" use="optional"/>
		<xs:attribute name="country" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>ISO 3166</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AvtaleID">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="unique" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt. Antas å være true i alle tilfeller.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Bankkontonummer">
		<xs:attribute name="src" use="required" fixed="NO:idBankAccount">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="Beløp">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Betaling">
		<xs:sequence>
			<xs:element name="idPayment" type="Ordrenummer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ordrenummer. Kun for meldingstyper: 8199</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="idEkInfo" type="Betalingsnummer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="vatAmountSpecification" type="MomsSpesifikasjon" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="amount" type="Beløp" use="required"/>
		<xs:attribute name="paymentType" type="Betalingstype" use="required"/>
	</xs:complexType>
	<xs:complexType name="Betalinger">
		<xs:sequence>
			<xs:element name="payment" type="Betaling" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Betalingsinformasjon">
		<xs:sequence>
			<xs:element name="formOfPayment" type="Betalinger"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Betalingsnummer">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="Betalingstype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="account"/>
			<xs:enumeration value="socialservicefee"/>
			<xs:enumeration value="prepaidsocialfee"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Distansekostnad">
		<xs:sequence>
			<xs:element name="distanceCount" type="xs:decimal"/>
			<xs:element name="distanceUnitPrice" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Egenandel">
		<xs:attribute name="amount" type="Beløp" use="required"/>
		<xs:attribute name="paymentType" type="Egenandelstype" use="required"/>
	</xs:complexType>
	<xs:complexType name="Egenandeler">
		<xs:sequence>
			<xs:element name="payment" type="Egenandel"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EgenandelerListe">
		<xs:sequence>
			<xs:element name="formOfPayment" type="Egenandeler"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Egenandelstype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="socialservicefee"/>
			<xs:enumeration value="prepaidsocialfee"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Feil">
		<xs:sequence>
			<xs:element name="idError" type="Feilkode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="manualDescriptionError" type="Merknad" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Feilkode">
		<xs:attribute name="src" use="required" fixed="SUTI:idError">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="FeilkodeID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="FeilkodeID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="10101"/>
			<xs:enumeration value="10102"/>
			<xs:enumeration value="10103"/>
			<xs:enumeration value="10104"/>
			<xs:enumeration value="10105"/>
			<xs:enumeration value="10201"/>
			<xs:enumeration value="10202"/>
			<xs:enumeration value="10203"/>
			<xs:enumeration value="10204"/>
			<xs:enumeration value="10205"/>
			<xs:enumeration value="10301"/>
			<xs:enumeration value="10302"/>
			<xs:enumeration value="10303"/>
			<xs:enumeration value="10304"/>
			<xs:enumeration value="10305"/>
			<xs:enumeration value="10306"/>
			<xs:enumeration value="10307"/>
			<xs:enumeration value="10308"/>
			<xs:enumeration value="10309"/>
			<xs:enumeration value="10310"/>
			<xs:enumeration value="10311"/>
			<xs:enumeration value="10312"/>
			<xs:enumeration value="10313"/>
			<xs:enumeration value="10314"/>
			<xs:enumeration value="10901"/>
			<xs:enumeration value="10902"/>
			<xs:enumeration value="10903"/>
			<xs:enumeration value="10904"/>
			<xs:enumeration value="10905"/>
			<xs:enumeration value="10906"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Sjåfør">
		<xs:sequence>
			<xs:element name="idDriver" type="SjåførID" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SjåførID">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Kjøretøy">
		<xs:sequence>
			<xs:element name="idVehicle" type="KjøretøyID" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KjøretøyID">
		<xs:annotation>
			<xs:documentation>Løyvenummer eller registreringsnummer</xs:documentation>
		</xs:annotation>
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NO:løyveNr"/>
					<xs:enumeration value="NO:regNr"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Kjøretøyinformasjon">
		<xs:sequence>
			<xs:element name="vehicle" type="Kjøretøy" minOccurs="1"/>
			<xs:element name="driver" type="Sjåfør" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kostnadsberegning">
		<xs:sequence>
			<xs:element name="calculationType" type="Takstkode" minOccurs="1"/>
			<xs:choice>
				<xs:element name="fixedPriceAmount" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>Fastprisbeløp</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="taximeterAmount" type="TaksameterBeløp"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kostnadsberegninger">
		<xs:sequence>
			<xs:element name="calculationFare" type="Kostnadsberegning" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Melding">
		<xs:sequence>
			<xs:element name="idMsg" type="MsgID"/>
			<xs:element name="infoTimeStamp" type="Tidsstempler">
				<xs:annotation>
					<xs:documentation>Oversendelsestidspunkt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referencesTo" type="MsgIDReferanse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kun for meldingstyper: 8101, 8111, 7030</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accounting" type="Oppgjør" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kun for meldingstyper: 8000, 8010, 8101, 8111, 8199</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="msgType" type="Meldingstype" use="required"/>
	</xs:complexType>
	<xs:simpleType name="Meldingstype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="7030"/>
			<xs:enumeration value="8000"/>
			<xs:enumeration value="8010"/>
			<xs:enumeration value="8101"/>
			<xs:enumeration value="8111"/>
			<xs:enumeration value="8199"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Merknad">
		<xs:sequence>
			<xs:element name="textTimestamp" type="Tidsstempler" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="sendtoInvoice" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt. TODO: Hvorfor obligatorisk?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendtoVehicle" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt. TODO: Hvorfor obligatorisk?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendtoOperator" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt. TODO: Hvorfor obligatorisk?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="manualText" type="xs:string" use="required"/>
		<xs:attribute name="vehicleConfirmation" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt. TODO: Hvorfor obligatorisk?</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendingOperator" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Avsender</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MomsBeløp">
		<xs:sequence>
			<xs:element name="idAmount" type="Momskode" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="amountInclVat" type="Beløp" use="required"/>
		<xs:attribute name="amountExclVat" type="Beløp"/>
		<xs:attribute name="amountVat" type="Beløp" use="required"/>
	</xs:complexType>
	<xs:complexType name="Momskode">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MomsSpesifikasjon">
		<xs:sequence>
			<xs:element name="totalVatAmount" type="MomsBeløp"/>
		</xs:sequence>
		<xs:attribute name="vatPercent" type="xs:decimal"/>
	</xs:complexType>
	<xs:complexType name="MsgID">
		<xs:attribute name="src" use="required">
			<xs:annotation>
				<xs:documentation>SUTI-ID'en til systemet som har generert ID'en</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>YYYYMMDDnnnnnnnn</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MsgIDReferanse">
		<xs:sequence>
			<xs:element name="idMsg" type="MsgID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Oppgjør">
		<xs:annotation>
			<xs:documentation>Kun for meldingstyper: 8000, 8010, 8101, 8111, 8199</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="idAccounting" type="AvtaleID"/>
			<xs:element name="tour" type="Tur" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="economyReportAccounting" type="Betalingsinformasjon"/>
			<xs:element name="orgClient" type="Organisasjon">
				<xs:annotation>
					<xs:documentation>Kjøper</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orgProvider" type="Organisasjon">
				<xs:annotation>
					<xs:documentation>Selger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Oppgjørsstatus">
		<xs:attribute name="src" use="required" fixed="SUTI:idActivity">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="OppgjørsstatusID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="OppgjørsstatusID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="invoice"/>
			<xs:enumeration value="accepted"/>
			<xs:enumeration value="rejected"/>
			<xs:enumeration value="validate"/>
			<xs:enumeration value="revaluate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Ordrenummer">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Organisasjon">
		<xs:sequence>
			<xs:element name="idOrg" type="Organisasjonsnummer"/>
		</xs:sequence>
		<xs:attribute name="orgName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Firmanavn</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Organisasjonsnummer">
		<xs:attribute name="src" use="required" fixed="NO:idOrg">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Posisjon">
		<xs:attribute name="zone" type="xs:string" use="optional"/>
		<xs:attribute name="typeOfCoordinate" use="required">
			<xs:annotation>
				<xs:documentation>WGS-84</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="WGS84"/>
					<xs:enumeration value="WGS-84"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="lat" type="xs:float" use="required"/>
		<xs:attribute name="long" type="xs:float" use="required"/>
		<xs:attribute name="precision" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>Presisjon angitt i meter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Rekvisisjon">
		<xs:sequence>
			<xs:element name="eventSuborderTour" type="Rekvisisjonshendelse" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="idSuborderClient" type="Rekvisisjonsnummer" minOccurs="1"/>
			<xs:element name="summaryReportSuborder" type="Sammendrag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sammendrag. Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="economyReportSuborder" type="EgenandelerListe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Egenandel-/frikortbeløp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rekvisisjonshendelse">
		<xs:sequence>
			<xs:element name="eventTime" type="Tid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tidspunkt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventAddress" type="Adresse" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="eventType" type="RekvisisjonshendelseID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="RekvisisjonshendelseID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="passengerinvehicle"/>
			<xs:enumeration value="passengerdropped"/>
			<xs:enumeration value="noshow"/>
			<xs:enumeration value="cancelatdoor"/>
			<xs:enumeration value="vehicleatnode"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Rekvisisjonsnummer">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Sammendrag">
		<xs:attribute name="durationStart" type="xs:int">
			<xs:annotation>
				<xs:documentation>Duration from start of order measured in seconds</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="distanceStart" type="xs:int">
			<xs:annotation>
				<xs:documentation>Distance from start of order measured in meters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SUTI" type="SUTI"/>
	<xs:complexType name="SUTI">
		<xs:sequence>
			<xs:element name="orgSender" type="SutiID">
				<xs:annotation>
					<xs:documentation>Avsenders SUTI-ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orgReceiver" type="SutiID">
				<xs:annotation>
					<xs:documentation>Mottakers SUTI-ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="msg" type="Melding"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SutiID">
		<xs:sequence>
			<xs:element name="idOrg" type="SutiLinkID"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SutiLinkID">
		<xs:attribute name="src" use="required" fixed="SUTI:idLink">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TaksameterBeløp">
		<xs:sequence>
			<xs:element name="startPrice" type="Beløp"/>
			<xs:element name="distanceTotalPrice" type="Distansekostnad"/>
			<xs:element name="durationTotalPrice" type="Tidskostnad"/>
			<xs:element name="taximeterTotalPrice" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Takstkode">
		<xs:attribute name="src" fixed="pasientreiser:takstkode" use="required">
			<xs:annotation>
				<xs:documentation>Blir ikke hensyntatt</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="TakstkodeID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="TakstkodeID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="11111"/>
			<xs:enumeration value="11112"/>
			<xs:enumeration value="11113"/>
			<xs:enumeration value="11114"/>
			<xs:enumeration value="11121"/>
			<xs:enumeration value="11122"/>
			<xs:enumeration value="11123"/>
			<xs:enumeration value="11124"/>
			<xs:enumeration value="11131"/>
			<xs:enumeration value="11132"/>
			<xs:enumeration value="11133"/>
			<xs:enumeration value="11134"/>
			<xs:enumeration value="11140"/>
			<xs:enumeration value="11100"/>
			<xs:enumeration value="11211"/>
			<xs:enumeration value="11212"/>
			<xs:enumeration value="11213"/>
			<xs:enumeration value="11214"/>
			<xs:enumeration value="11221"/>
			<xs:enumeration value="11222"/>
			<xs:enumeration value="11223"/>
			<xs:enumeration value="11224"/>
			<xs:enumeration value="11231"/>
			<xs:enumeration value="11232"/>
			<xs:enumeration value="11233"/>
			<xs:enumeration value="11234"/>
			<xs:enumeration value="11240"/>
			<xs:enumeration value="11200"/>
			<xs:enumeration value="11311"/>
			<xs:enumeration value="11312"/>
			<xs:enumeration value="11313"/>
			<xs:enumeration value="11314"/>
			<xs:enumeration value="11321"/>
			<xs:enumeration value="11322"/>
			<xs:enumeration value="11323"/>
			<xs:enumeration value="11324"/>
			<xs:enumeration value="11331"/>
			<xs:enumeration value="11332"/>
			<xs:enumeration value="11333"/>
			<xs:enumeration value="11334"/>
			<xs:enumeration value="11340"/>
			<xs:enumeration value="11300"/>
			<xs:enumeration value="11411"/>
			<xs:enumeration value="11412"/>
			<xs:enumeration value="11413"/>
			<xs:enumeration value="11414"/>
			<xs:enumeration value="11421"/>
			<xs:enumeration value="11422"/>
			<xs:enumeration value="11423"/>
			<xs:enumeration value="11424"/>
			<xs:enumeration value="11431"/>
			<xs:enumeration value="11432"/>
			<xs:enumeration value="11433"/>
			<xs:enumeration value="11434"/>
			<xs:enumeration value="11440"/>
			<xs:enumeration value="11400"/>
			<xs:enumeration value="11011"/>
			<xs:enumeration value="11012"/>
			<xs:enumeration value="11013"/>
			<xs:enumeration value="11014"/>
			<xs:enumeration value="11021"/>
			<xs:enumeration value="11022"/>
			<xs:enumeration value="11023"/>
			<xs:enumeration value="11024"/>
			<xs:enumeration value="11031"/>
			<xs:enumeration value="11032"/>
			<xs:enumeration value="11033"/>
			<xs:enumeration value="11034"/>
			<xs:enumeration value="11040"/>
			<xs:enumeration value="11000"/>
			<xs:enumeration value="12111"/>
			<xs:enumeration value="12112"/>
			<xs:enumeration value="12113"/>
			<xs:enumeration value="12114"/>
			<xs:enumeration value="12121"/>
			<xs:enumeration value="12122"/>
			<xs:enumeration value="12123"/>
			<xs:enumeration value="12124"/>
			<xs:enumeration value="12131"/>
			<xs:enumeration value="12132"/>
			<xs:enumeration value="12133"/>
			<xs:enumeration value="12134"/>
			<xs:enumeration value="12140"/>
			<xs:enumeration value="12100"/>
			<xs:enumeration value="12211"/>
			<xs:enumeration value="12212"/>
			<xs:enumeration value="12213"/>
			<xs:enumeration value="12214"/>
			<xs:enumeration value="12221"/>
			<xs:enumeration value="12222"/>
			<xs:enumeration value="12223"/>
			<xs:enumeration value="12224"/>
			<xs:enumeration value="12231"/>
			<xs:enumeration value="12232"/>
			<xs:enumeration value="12233"/>
			<xs:enumeration value="12234"/>
			<xs:enumeration value="12240"/>
			<xs:enumeration value="12200"/>
			<xs:enumeration value="12311"/>
			<xs:enumeration value="12312"/>
			<xs:enumeration value="12313"/>
			<xs:enumeration value="12314"/>
			<xs:enumeration value="12321"/>
			<xs:enumeration value="12322"/>
			<xs:enumeration value="12323"/>
			<xs:enumeration value="12324"/>
			<xs:enumeration value="12331"/>
			<xs:enumeration value="12332"/>
			<xs:enumeration value="12333"/>
			<xs:enumeration value="12334"/>
			<xs:enumeration value="12340"/>
			<xs:enumeration value="12300"/>
			<xs:enumeration value="12411"/>
			<xs:enumeration value="12412"/>
			<xs:enumeration value="12413"/>
			<xs:enumeration value="12414"/>
			<xs:enumeration value="12421"/>
			<xs:enumeration value="12422"/>
			<xs:enumeration value="12423"/>
			<xs:enumeration value="12424"/>
			<xs:enumeration value="12431"/>
			<xs:enumeration value="12432"/>
			<xs:enumeration value="12433"/>
			<xs:enumeration value="12434"/>
			<xs:enumeration value="12440"/>
			<xs:enumeration value="12400"/>
			<xs:enumeration value="12011"/>
			<xs:enumeration value="12012"/>
			<xs:enumeration value="12013"/>
			<xs:enumeration value="12014"/>
			<xs:enumeration value="12021"/>
			<xs:enumeration value="12022"/>
			<xs:enumeration value="12023"/>
			<xs:enumeration value="12024"/>
			<xs:enumeration value="12031"/>
			<xs:enumeration value="12032"/>
			<xs:enumeration value="12033"/>
			<xs:enumeration value="12034"/>
			<xs:enumeration value="12040"/>
			<xs:enumeration value="12000"/>
			<xs:enumeration value="13111"/>
			<xs:enumeration value="13112"/>
			<xs:enumeration value="13113"/>
			<xs:enumeration value="13114"/>
			<xs:enumeration value="13121"/>
			<xs:enumeration value="13122"/>
			<xs:enumeration value="13123"/>
			<xs:enumeration value="13124"/>
			<xs:enumeration value="13131"/>
			<xs:enumeration value="13132"/>
			<xs:enumeration value="13133"/>
			<xs:enumeration value="13134"/>
			<xs:enumeration value="13140"/>
			<xs:enumeration value="13100"/>
			<xs:enumeration value="13211"/>
			<xs:enumeration value="13212"/>
			<xs:enumeration value="13213"/>
			<xs:enumeration value="13214"/>
			<xs:enumeration value="13221"/>
			<xs:enumeration value="13222"/>
			<xs:enumeration value="13223"/>
			<xs:enumeration value="13224"/>
			<xs:enumeration value="13231"/>
			<xs:enumeration value="13232"/>
			<xs:enumeration value="13233"/>
			<xs:enumeration value="13234"/>
			<xs:enumeration value="13240"/>
			<xs:enumeration value="13200"/>
			<xs:enumeration value="13311"/>
			<xs:enumeration value="13312"/>
			<xs:enumeration value="13313"/>
			<xs:enumeration value="13314"/>
			<xs:enumeration value="13321"/>
			<xs:enumeration value="13322"/>
			<xs:enumeration value="13323"/>
			<xs:enumeration value="13324"/>
			<xs:enumeration value="13331"/>
			<xs:enumeration value="13332"/>
			<xs:enumeration value="13333"/>
			<xs:enumeration value="13334"/>
			<xs:enumeration value="13340"/>
			<xs:enumeration value="13300"/>
			<xs:enumeration value="13411"/>
			<xs:enumeration value="13412"/>
			<xs:enumeration value="13413"/>
			<xs:enumeration value="13414"/>
			<xs:enumeration value="13421"/>
			<xs:enumeration value="13422"/>
			<xs:enumeration value="13423"/>
			<xs:enumeration value="13424"/>
			<xs:enumeration value="13431"/>
			<xs:enumeration value="13432"/>
			<xs:enumeration value="13433"/>
			<xs:enumeration value="13434"/>
			<xs:enumeration value="13440"/>
			<xs:enumeration value="13400"/>
			<xs:enumeration value="13011"/>
			<xs:enumeration value="13012"/>
			<xs:enumeration value="13013"/>
			<xs:enumeration value="13014"/>
			<xs:enumeration value="13021"/>
			<xs:enumeration value="13022"/>
			<xs:enumeration value="13023"/>
			<xs:enumeration value="13024"/>
			<xs:enumeration value="13031"/>
			<xs:enumeration value="13032"/>
			<xs:enumeration value="13033"/>
			<xs:enumeration value="13034"/>
			<xs:enumeration value="13040"/>
			<xs:enumeration value="13000"/>
			<xs:enumeration value="14111"/>
			<xs:enumeration value="14112"/>
			<xs:enumeration value="14113"/>
			<xs:enumeration value="14114"/>
			<xs:enumeration value="14121"/>
			<xs:enumeration value="14122"/>
			<xs:enumeration value="14123"/>
			<xs:enumeration value="14124"/>
			<xs:enumeration value="14131"/>
			<xs:enumeration value="14132"/>
			<xs:enumeration value="14133"/>
			<xs:enumeration value="14134"/>
			<xs:enumeration value="14140"/>
			<xs:enumeration value="14100"/>
			<xs:enumeration value="14211"/>
			<xs:enumeration value="14212"/>
			<xs:enumeration value="14213"/>
			<xs:enumeration value="14214"/>
			<xs:enumeration value="14221"/>
			<xs:enumeration value="14222"/>
			<xs:enumeration value="14223"/>
			<xs:enumeration value="14224"/>
			<xs:enumeration value="14231"/>
			<xs:enumeration value="14232"/>
			<xs:enumeration value="14233"/>
			<xs:enumeration value="14234"/>
			<xs:enumeration value="14240"/>
			<xs:enumeration value="14200"/>
			<xs:enumeration value="14311"/>
			<xs:enumeration value="14312"/>
			<xs:enumeration value="14313"/>
			<xs:enumeration value="14314"/>
			<xs:enumeration value="14321"/>
			<xs:enumeration value="14322"/>
			<xs:enumeration value="14323"/>
			<xs:enumeration value="14324"/>
			<xs:enumeration value="14331"/>
			<xs:enumeration value="14332"/>
			<xs:enumeration value="14333"/>
			<xs:enumeration value="14334"/>
			<xs:enumeration value="14340"/>
			<xs:enumeration value="14300"/>
			<xs:enumeration value="14411"/>
			<xs:enumeration value="14412"/>
			<xs:enumeration value="14413"/>
			<xs:enumeration value="14414"/>
			<xs:enumeration value="14421"/>
			<xs:enumeration value="14422"/>
			<xs:enumeration value="14423"/>
			<xs:enumeration value="14424"/>
			<xs:enumeration value="14431"/>
			<xs:enumeration value="14432"/>
			<xs:enumeration value="14433"/>
			<xs:enumeration value="14434"/>
			<xs:enumeration value="14440"/>
			<xs:enumeration value="14400"/>
			<xs:enumeration value="14011"/>
			<xs:enumeration value="14012"/>
			<xs:enumeration value="14013"/>
			<xs:enumeration value="14014"/>
			<xs:enumeration value="14021"/>
			<xs:enumeration value="14022"/>
			<xs:enumeration value="14023"/>
			<xs:enumeration value="14024"/>
			<xs:enumeration value="14031"/>
			<xs:enumeration value="14032"/>
			<xs:enumeration value="14033"/>
			<xs:enumeration value="14034"/>
			<xs:enumeration value="14040"/>
			<xs:enumeration value="14000"/>
			<xs:enumeration value="21111"/>
			<xs:enumeration value="21112"/>
			<xs:enumeration value="21113"/>
			<xs:enumeration value="21114"/>
			<xs:enumeration value="21121"/>
			<xs:enumeration value="21122"/>
			<xs:enumeration value="21123"/>
			<xs:enumeration value="21124"/>
			<xs:enumeration value="21131"/>
			<xs:enumeration value="21132"/>
			<xs:enumeration value="21133"/>
			<xs:enumeration value="21134"/>
			<xs:enumeration value="21140"/>
			<xs:enumeration value="21100"/>
			<xs:enumeration value="21211"/>
			<xs:enumeration value="21212"/>
			<xs:enumeration value="21213"/>
			<xs:enumeration value="21214"/>
			<xs:enumeration value="21221"/>
			<xs:enumeration value="21222"/>
			<xs:enumeration value="21223"/>
			<xs:enumeration value="21224"/>
			<xs:enumeration value="21231"/>
			<xs:enumeration value="21232"/>
			<xs:enumeration value="21233"/>
			<xs:enumeration value="21234"/>
			<xs:enumeration value="21240"/>
			<xs:enumeration value="21200"/>
			<xs:enumeration value="21311"/>
			<xs:enumeration value="21312"/>
			<xs:enumeration value="21313"/>
			<xs:enumeration value="21314"/>
			<xs:enumeration value="21321"/>
			<xs:enumeration value="21322"/>
			<xs:enumeration value="21323"/>
			<xs:enumeration value="21324"/>
			<xs:enumeration value="21331"/>
			<xs:enumeration value="21332"/>
			<xs:enumeration value="21333"/>
			<xs:enumeration value="21334"/>
			<xs:enumeration value="21340"/>
			<xs:enumeration value="21300"/>
			<xs:enumeration value="21411"/>
			<xs:enumeration value="21412"/>
			<xs:enumeration value="21413"/>
			<xs:enumeration value="21414"/>
			<xs:enumeration value="21421"/>
			<xs:enumeration value="21422"/>
			<xs:enumeration value="21423"/>
			<xs:enumeration value="21424"/>
			<xs:enumeration value="21431"/>
			<xs:enumeration value="21432"/>
			<xs:enumeration value="21433"/>
			<xs:enumeration value="21434"/>
			<xs:enumeration value="21440"/>
			<xs:enumeration value="21400"/>
			<xs:enumeration value="21011"/>
			<xs:enumeration value="21012"/>
			<xs:enumeration value="21013"/>
			<xs:enumeration value="21014"/>
			<xs:enumeration value="21021"/>
			<xs:enumeration value="21022"/>
			<xs:enumeration value="21023"/>
			<xs:enumeration value="21024"/>
			<xs:enumeration value="21031"/>
			<xs:enumeration value="21032"/>
			<xs:enumeration value="21033"/>
			<xs:enumeration value="21034"/>
			<xs:enumeration value="21040"/>
			<xs:enumeration value="21000"/>
			<xs:enumeration value="31111"/>
			<xs:enumeration value="31112"/>
			<xs:enumeration value="31113"/>
			<xs:enumeration value="31114"/>
			<xs:enumeration value="31121"/>
			<xs:enumeration value="31122"/>
			<xs:enumeration value="31123"/>
			<xs:enumeration value="31124"/>
			<xs:enumeration value="31131"/>
			<xs:enumeration value="31132"/>
			<xs:enumeration value="31133"/>
			<xs:enumeration value="31134"/>
			<xs:enumeration value="31140"/>
			<xs:enumeration value="31100"/>
			<xs:enumeration value="31211"/>
			<xs:enumeration value="31212"/>
			<xs:enumeration value="31213"/>
			<xs:enumeration value="31214"/>
			<xs:enumeration value="31221"/>
			<xs:enumeration value="31222"/>
			<xs:enumeration value="31223"/>
			<xs:enumeration value="31224"/>
			<xs:enumeration value="31231"/>
			<xs:enumeration value="31232"/>
			<xs:enumeration value="31233"/>
			<xs:enumeration value="31234"/>
			<xs:enumeration value="31240"/>
			<xs:enumeration value="31200"/>
			<xs:enumeration value="31311"/>
			<xs:enumeration value="31312"/>
			<xs:enumeration value="31313"/>
			<xs:enumeration value="31314"/>
			<xs:enumeration value="31321"/>
			<xs:enumeration value="31322"/>
			<xs:enumeration value="31323"/>
			<xs:enumeration value="31324"/>
			<xs:enumeration value="31331"/>
			<xs:enumeration value="31332"/>
			<xs:enumeration value="31333"/>
			<xs:enumeration value="31334"/>
			<xs:enumeration value="31340"/>
			<xs:enumeration value="31300"/>
			<xs:enumeration value="31411"/>
			<xs:enumeration value="31412"/>
			<xs:enumeration value="31413"/>
			<xs:enumeration value="31414"/>
			<xs:enumeration value="31421"/>
			<xs:enumeration value="31422"/>
			<xs:enumeration value="31423"/>
			<xs:enumeration value="31424"/>
			<xs:enumeration value="31431"/>
			<xs:enumeration value="31432"/>
			<xs:enumeration value="31433"/>
			<xs:enumeration value="31434"/>
			<xs:enumeration value="31440"/>
			<xs:enumeration value="31400"/>
			<xs:enumeration value="31011"/>
			<xs:enumeration value="31012"/>
			<xs:enumeration value="31013"/>
			<xs:enumeration value="31014"/>
			<xs:enumeration value="31021"/>
			<xs:enumeration value="31022"/>
			<xs:enumeration value="31023"/>
			<xs:enumeration value="31024"/>
			<xs:enumeration value="31031"/>
			<xs:enumeration value="31032"/>
			<xs:enumeration value="31033"/>
			<xs:enumeration value="31034"/>
			<xs:enumeration value="31040"/>
			<xs:enumeration value="31000"/>
			<xs:enumeration value="41111"/>
			<xs:enumeration value="41112"/>
			<xs:enumeration value="41113"/>
			<xs:enumeration value="41114"/>
			<xs:enumeration value="41121"/>
			<xs:enumeration value="41122"/>
			<xs:enumeration value="41123"/>
			<xs:enumeration value="41124"/>
			<xs:enumeration value="41131"/>
			<xs:enumeration value="41132"/>
			<xs:enumeration value="41133"/>
			<xs:enumeration value="41134"/>
			<xs:enumeration value="41140"/>
			<xs:enumeration value="41100"/>
			<xs:enumeration value="41211"/>
			<xs:enumeration value="41212"/>
			<xs:enumeration value="41213"/>
			<xs:enumeration value="41214"/>
			<xs:enumeration value="41221"/>
			<xs:enumeration value="41222"/>
			<xs:enumeration value="41223"/>
			<xs:enumeration value="41224"/>
			<xs:enumeration value="41231"/>
			<xs:enumeration value="41232"/>
			<xs:enumeration value="41233"/>
			<xs:enumeration value="41234"/>
			<xs:enumeration value="41240"/>
			<xs:enumeration value="41200"/>
			<xs:enumeration value="41311"/>
			<xs:enumeration value="41312"/>
			<xs:enumeration value="41313"/>
			<xs:enumeration value="41314"/>
			<xs:enumeration value="41321"/>
			<xs:enumeration value="41322"/>
			<xs:enumeration value="41323"/>
			<xs:enumeration value="41324"/>
			<xs:enumeration value="41331"/>
			<xs:enumeration value="41332"/>
			<xs:enumeration value="41333"/>
			<xs:enumeration value="41334"/>
			<xs:enumeration value="41340"/>
			<xs:enumeration value="41300"/>
			<xs:enumeration value="41411"/>
			<xs:enumeration value="41412"/>
			<xs:enumeration value="41413"/>
			<xs:enumeration value="41414"/>
			<xs:enumeration value="41421"/>
			<xs:enumeration value="41422"/>
			<xs:enumeration value="41423"/>
			<xs:enumeration value="41424"/>
			<xs:enumeration value="41431"/>
			<xs:enumeration value="41432"/>
			<xs:enumeration value="41433"/>
			<xs:enumeration value="41434"/>
			<xs:enumeration value="41440"/>
			<xs:enumeration value="41400"/>
			<xs:enumeration value="41011"/>
			<xs:enumeration value="41012"/>
			<xs:enumeration value="41013"/>
			<xs:enumeration value="41014"/>
			<xs:enumeration value="41021"/>
			<xs:enumeration value="41022"/>
			<xs:enumeration value="41023"/>
			<xs:enumeration value="41024"/>
			<xs:enumeration value="41031"/>
			<xs:enumeration value="41032"/>
			<xs:enumeration value="41033"/>
			<xs:enumeration value="41034"/>
			<xs:enumeration value="41040"/>
			<xs:enumeration value="41000"/>
			<xs:enumeration value="42111"/>
			<xs:enumeration value="42112"/>
			<xs:enumeration value="42113"/>
			<xs:enumeration value="42114"/>
			<xs:enumeration value="42121"/>
			<xs:enumeration value="42122"/>
			<xs:enumeration value="42123"/>
			<xs:enumeration value="42124"/>
			<xs:enumeration value="42131"/>
			<xs:enumeration value="42132"/>
			<xs:enumeration value="42133"/>
			<xs:enumeration value="42134"/>
			<xs:enumeration value="42140"/>
			<xs:enumeration value="42100"/>
			<xs:enumeration value="42211"/>
			<xs:enumeration value="42212"/>
			<xs:enumeration value="42213"/>
			<xs:enumeration value="42214"/>
			<xs:enumeration value="42221"/>
			<xs:enumeration value="42222"/>
			<xs:enumeration value="42223"/>
			<xs:enumeration value="42224"/>
			<xs:enumeration value="42231"/>
			<xs:enumeration value="42232"/>
			<xs:enumeration value="42233"/>
			<xs:enumeration value="42234"/>
			<xs:enumeration value="42240"/>
			<xs:enumeration value="42200"/>
			<xs:enumeration value="42311"/>
			<xs:enumeration value="42312"/>
			<xs:enumeration value="42313"/>
			<xs:enumeration value="42314"/>
			<xs:enumeration value="42321"/>
			<xs:enumeration value="42322"/>
			<xs:enumeration value="42323"/>
			<xs:enumeration value="42324"/>
			<xs:enumeration value="42331"/>
			<xs:enumeration value="42332"/>
			<xs:enumeration value="42333"/>
			<xs:enumeration value="42334"/>
			<xs:enumeration value="42340"/>
			<xs:enumeration value="42300"/>
			<xs:enumeration value="42411"/>
			<xs:enumeration value="42412"/>
			<xs:enumeration value="42413"/>
			<xs:enumeration value="42414"/>
			<xs:enumeration value="42421"/>
			<xs:enumeration value="42422"/>
			<xs:enumeration value="42423"/>
			<xs:enumeration value="42424"/>
			<xs:enumeration value="42431"/>
			<xs:enumeration value="42432"/>
			<xs:enumeration value="42433"/>
			<xs:enumeration value="42434"/>
			<xs:enumeration value="42440"/>
			<xs:enumeration value="42400"/>
			<xs:enumeration value="42011"/>
			<xs:enumeration value="42012"/>
			<xs:enumeration value="42013"/>
			<xs:enumeration value="42014"/>
			<xs:enumeration value="42021"/>
			<xs:enumeration value="42022"/>
			<xs:enumeration value="42023"/>
			<xs:enumeration value="42024"/>
			<xs:enumeration value="42031"/>
			<xs:enumeration value="42032"/>
			<xs:enumeration value="42033"/>
			<xs:enumeration value="42034"/>
			<xs:enumeration value="42040"/>
			<xs:enumeration value="42000"/>
			<xs:enumeration value="43111"/>
			<xs:enumeration value="43112"/>
			<xs:enumeration value="43113"/>
			<xs:enumeration value="43114"/>
			<xs:enumeration value="43121"/>
			<xs:enumeration value="43122"/>
			<xs:enumeration value="43123"/>
			<xs:enumeration value="43124"/>
			<xs:enumeration value="43131"/>
			<xs:enumeration value="43132"/>
			<xs:enumeration value="43133"/>
			<xs:enumeration value="43134"/>
			<xs:enumeration value="43140"/>
			<xs:enumeration value="43100"/>
			<xs:enumeration value="43211"/>
			<xs:enumeration value="43212"/>
			<xs:enumeration value="43213"/>
			<xs:enumeration value="43214"/>
			<xs:enumeration value="43221"/>
			<xs:enumeration value="43222"/>
			<xs:enumeration value="43223"/>
			<xs:enumeration value="43224"/>
			<xs:enumeration value="43231"/>
			<xs:enumeration value="43232"/>
			<xs:enumeration value="43233"/>
			<xs:enumeration value="43234"/>
			<xs:enumeration value="43240"/>
			<xs:enumeration value="43200"/>
			<xs:enumeration value="43311"/>
			<xs:enumeration value="43312"/>
			<xs:enumeration value="43313"/>
			<xs:enumeration value="43314"/>
			<xs:enumeration value="43321"/>
			<xs:enumeration value="43322"/>
			<xs:enumeration value="43323"/>
			<xs:enumeration value="43324"/>
			<xs:enumeration value="43331"/>
			<xs:enumeration value="43332"/>
			<xs:enumeration value="43333"/>
			<xs:enumeration value="43334"/>
			<xs:enumeration value="43340"/>
			<xs:enumeration value="43300"/>
			<xs:enumeration value="43411"/>
			<xs:enumeration value="43412"/>
			<xs:enumeration value="43413"/>
			<xs:enumeration value="43414"/>
			<xs:enumeration value="43421"/>
			<xs:enumeration value="43422"/>
			<xs:enumeration value="43423"/>
			<xs:enumeration value="43424"/>
			<xs:enumeration value="43431"/>
			<xs:enumeration value="43432"/>
			<xs:enumeration value="43433"/>
			<xs:enumeration value="43434"/>
			<xs:enumeration value="43440"/>
			<xs:enumeration value="43400"/>
			<xs:enumeration value="43011"/>
			<xs:enumeration value="43012"/>
			<xs:enumeration value="43013"/>
			<xs:enumeration value="43014"/>
			<xs:enumeration value="43021"/>
			<xs:enumeration value="43022"/>
			<xs:enumeration value="43023"/>
			<xs:enumeration value="43024"/>
			<xs:enumeration value="43031"/>
			<xs:enumeration value="43032"/>
			<xs:enumeration value="43033"/>
			<xs:enumeration value="43034"/>
			<xs:enumeration value="43040"/>
			<xs:enumeration value="43000"/>
			<xs:enumeration value="44111"/>
			<xs:enumeration value="44112"/>
			<xs:enumeration value="44113"/>
			<xs:enumeration value="44114"/>
			<xs:enumeration value="44121"/>
			<xs:enumeration value="44122"/>
			<xs:enumeration value="44123"/>
			<xs:enumeration value="44124"/>
			<xs:enumeration value="44131"/>
			<xs:enumeration value="44132"/>
			<xs:enumeration value="44133"/>
			<xs:enumeration value="44134"/>
			<xs:enumeration value="44140"/>
			<xs:enumeration value="44100"/>
			<xs:enumeration value="44211"/>
			<xs:enumeration value="44212"/>
			<xs:enumeration value="44213"/>
			<xs:enumeration value="44214"/>
			<xs:enumeration value="44221"/>
			<xs:enumeration value="44222"/>
			<xs:enumeration value="44223"/>
			<xs:enumeration value="44224"/>
			<xs:enumeration value="44231"/>
			<xs:enumeration value="44232"/>
			<xs:enumeration value="44233"/>
			<xs:enumeration value="44234"/>
			<xs:enumeration value="44240"/>
			<xs:enumeration value="44200"/>
			<xs:enumeration value="44311"/>
			<xs:enumeration value="44312"/>
			<xs:enumeration value="44313"/>
			<xs:enumeration value="44314"/>
			<xs:enumeration value="44321"/>
			<xs:enumeration value="44322"/>
			<xs:enumeration value="44323"/>
			<xs:enumeration value="44324"/>
			<xs:enumeration value="44331"/>
			<xs:enumeration value="44332"/>
			<xs:enumeration value="44333"/>
			<xs:enumeration value="44334"/>
			<xs:enumeration value="44340"/>
			<xs:enumeration value="44300"/>
			<xs:enumeration value="44411"/>
			<xs:enumeration value="44412"/>
			<xs:enumeration value="44413"/>
			<xs:enumeration value="44414"/>
			<xs:enumeration value="44421"/>
			<xs:enumeration value="44422"/>
			<xs:enumeration value="44423"/>
			<xs:enumeration value="44424"/>
			<xs:enumeration value="44431"/>
			<xs:enumeration value="44432"/>
			<xs:enumeration value="44433"/>
			<xs:enumeration value="44434"/>
			<xs:enumeration value="44440"/>
			<xs:enumeration value="44400"/>
			<xs:enumeration value="44011"/>
			<xs:enumeration value="44012"/>
			<xs:enumeration value="44013"/>
			<xs:enumeration value="44014"/>
			<xs:enumeration value="44021"/>
			<xs:enumeration value="44022"/>
			<xs:enumeration value="44023"/>
			<xs:enumeration value="44024"/>
			<xs:enumeration value="44031"/>
			<xs:enumeration value="44032"/>
			<xs:enumeration value="44033"/>
			<xs:enumeration value="44034"/>
			<xs:enumeration value="44040"/>
			<xs:enumeration value="44000"/>
			<xs:enumeration value="51111"/>
			<xs:enumeration value="51112"/>
			<xs:enumeration value="51113"/>
			<xs:enumeration value="51114"/>
			<xs:enumeration value="51121"/>
			<xs:enumeration value="51122"/>
			<xs:enumeration value="51123"/>
			<xs:enumeration value="51124"/>
			<xs:enumeration value="51131"/>
			<xs:enumeration value="51132"/>
			<xs:enumeration value="51133"/>
			<xs:enumeration value="51134"/>
			<xs:enumeration value="51140"/>
			<xs:enumeration value="51100"/>
			<xs:enumeration value="51211"/>
			<xs:enumeration value="51212"/>
			<xs:enumeration value="51213"/>
			<xs:enumeration value="51214"/>
			<xs:enumeration value="51221"/>
			<xs:enumeration value="51222"/>
			<xs:enumeration value="51223"/>
			<xs:enumeration value="51224"/>
			<xs:enumeration value="51231"/>
			<xs:enumeration value="51232"/>
			<xs:enumeration value="51233"/>
			<xs:enumeration value="51234"/>
			<xs:enumeration value="51240"/>
			<xs:enumeration value="51200"/>
			<xs:enumeration value="51311"/>
			<xs:enumeration value="51312"/>
			<xs:enumeration value="51313"/>
			<xs:enumeration value="51314"/>
			<xs:enumeration value="51321"/>
			<xs:enumeration value="51322"/>
			<xs:enumeration value="51323"/>
			<xs:enumeration value="51324"/>
			<xs:enumeration value="51331"/>
			<xs:enumeration value="51332"/>
			<xs:enumeration value="51333"/>
			<xs:enumeration value="51334"/>
			<xs:enumeration value="51340"/>
			<xs:enumeration value="51300"/>
			<xs:enumeration value="51411"/>
			<xs:enumeration value="51412"/>
			<xs:enumeration value="51413"/>
			<xs:enumeration value="51414"/>
			<xs:enumeration value="51421"/>
			<xs:enumeration value="51422"/>
			<xs:enumeration value="51423"/>
			<xs:enumeration value="51424"/>
			<xs:enumeration value="51431"/>
			<xs:enumeration value="51432"/>
			<xs:enumeration value="51433"/>
			<xs:enumeration value="51434"/>
			<xs:enumeration value="51440"/>
			<xs:enumeration value="51400"/>
			<xs:enumeration value="51011"/>
			<xs:enumeration value="51012"/>
			<xs:enumeration value="51013"/>
			<xs:enumeration value="51014"/>
			<xs:enumeration value="51021"/>
			<xs:enumeration value="51022"/>
			<xs:enumeration value="51023"/>
			<xs:enumeration value="51024"/>
			<xs:enumeration value="51031"/>
			<xs:enumeration value="51032"/>
			<xs:enumeration value="51033"/>
			<xs:enumeration value="51034"/>
			<xs:enumeration value="51040"/>
			<xs:enumeration value="51000"/>
			<xs:enumeration value="52111"/>
			<xs:enumeration value="52112"/>
			<xs:enumeration value="52113"/>
			<xs:enumeration value="52114"/>
			<xs:enumeration value="52121"/>
			<xs:enumeration value="52122"/>
			<xs:enumeration value="52123"/>
			<xs:enumeration value="52124"/>
			<xs:enumeration value="52131"/>
			<xs:enumeration value="52132"/>
			<xs:enumeration value="52133"/>
			<xs:enumeration value="52134"/>
			<xs:enumeration value="52140"/>
			<xs:enumeration value="52100"/>
			<xs:enumeration value="52211"/>
			<xs:enumeration value="52212"/>
			<xs:enumeration value="52213"/>
			<xs:enumeration value="52214"/>
			<xs:enumeration value="52221"/>
			<xs:enumeration value="52222"/>
			<xs:enumeration value="52223"/>
			<xs:enumeration value="52224"/>
			<xs:enumeration value="52231"/>
			<xs:enumeration value="52232"/>
			<xs:enumeration value="52233"/>
			<xs:enumeration value="52234"/>
			<xs:enumeration value="52240"/>
			<xs:enumeration value="52200"/>
			<xs:enumeration value="52311"/>
			<xs:enumeration value="52312"/>
			<xs:enumeration value="52313"/>
			<xs:enumeration value="52314"/>
			<xs:enumeration value="52321"/>
			<xs:enumeration value="52322"/>
			<xs:enumeration value="52323"/>
			<xs:enumeration value="52324"/>
			<xs:enumeration value="52331"/>
			<xs:enumeration value="52332"/>
			<xs:enumeration value="52333"/>
			<xs:enumeration value="52334"/>
			<xs:enumeration value="52340"/>
			<xs:enumeration value="52300"/>
			<xs:enumeration value="52411"/>
			<xs:enumeration value="52412"/>
			<xs:enumeration value="52413"/>
			<xs:enumeration value="52414"/>
			<xs:enumeration value="52421"/>
			<xs:enumeration value="52422"/>
			<xs:enumeration value="52423"/>
			<xs:enumeration value="52424"/>
			<xs:enumeration value="52431"/>
			<xs:enumeration value="52432"/>
			<xs:enumeration value="52433"/>
			<xs:enumeration value="52434"/>
			<xs:enumeration value="52440"/>
			<xs:enumeration value="52400"/>
			<xs:enumeration value="52011"/>
			<xs:enumeration value="52012"/>
			<xs:enumeration value="52013"/>
			<xs:enumeration value="52014"/>
			<xs:enumeration value="52021"/>
			<xs:enumeration value="52022"/>
			<xs:enumeration value="52023"/>
			<xs:enumeration value="52024"/>
			<xs:enumeration value="52031"/>
			<xs:enumeration value="52032"/>
			<xs:enumeration value="52033"/>
			<xs:enumeration value="52034"/>
			<xs:enumeration value="52040"/>
			<xs:enumeration value="52000"/>
			<xs:enumeration value="61000"/>
			<xs:enumeration value="62000"/>
			<xs:enumeration value="63000"/>
			<xs:enumeration value="64000"/>
			<xs:enumeration value="65000"/>
			<xs:enumeration value="66000"/>
			<xs:enumeration value="67000"/>
			<xs:enumeration value="69000"/>
			<xs:enumeration value="81000"/>
			<xs:enumeration value="82000"/>
			<xs:enumeration value="83000"/>
			<xs:enumeration value="84000"/>
			<xs:enumeration value="89000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Tid">
		<xs:attribute name="time" type="xs:dateTime" use="required" form="unqualified">
			<xs:annotation>
				<xs:documentation>YYYY-MM-DDTHH:MM:SS</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Tidskostnad">
		<xs:sequence>
			<xs:element name="durationCount" type="xs:decimal"/>
			<xs:element name="durationUnitPrice" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Tidsstempler">
		<xs:sequence>
			<xs:element name="time" type="Tid"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Tur">
		<xs:sequence>
			<xs:element name="referencesToTour" type="TurIDListe"/>
			<xs:element name="statusTour" type="TurStatus"/>
			<xs:element name="suborderTour" type="Rekvisisjon" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Rekvisisjon. Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="calculationsTour" type="Kostnadsberegninger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Grunnlag for kostnadsberegning. Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="summaryReportTour" type="Sammendrag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="economyReportTour" type="Betalingsinformasjon" minOccurs="0"/>
			<xs:element name="resourceTour" type="Kjøretøyinformasjon" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kjøretøyinformasjon. Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eventTour" type="Turhendelse" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Turhendelse. Kun for meldingstyper: 8000, 8010</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Turhendelse">
		<xs:sequence>
			<xs:element name="eventTourTime" type="Tid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tidspunkt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tourGeographicLocation" type="Posisjon" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Posisjon</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="eventVehicle" type="TurhendelseID" use="required"/>
	</xs:complexType>
	<xs:simpleType name="TurhendelseID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dispatchconfirmationsent"/>
			<xs:enumeration value="start"/>
			<xs:enumeration value="stop"/>
			<xs:enumeration value="acceptOrder"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TurID">
		<xs:attribute name="src" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TurIDListe">
		<xs:sequence>
			<xs:element name="idOrder" type="TurID" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TurStatus">
		<xs:sequence>
			<xs:element name="idActivity" type="Oppgjørsstatus"/>
			<xs:element name="statusTourError" type="Feil" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manualDescriptionStatus" type="Merknad" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
